name: build-package
on:
  workflow_dispatch:
  release:
    types: [published]
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Build Linux
        run: |
          go build -ldflags "-s -w" -trimpath -buildvcs=false -o envman .
          ./envman completion bash > envman.bash
          ./envman completion fish > envman.fish
          ./envman completion zsh > _envman
          tar -czvf envman-linux-x86_64.tar.gz envman envman.bash envman.fish _envman LICENSE README.md
      - name: Build Darwin ARM
        run: |
          GOOS=darwin GOARCH=arm64 go build -ldflags "-s -w" -trimpath -buildvcs=false -o envman .
          go run . completion bash > envman.bash
          go run . completion fish > envman.fish
          go run . completion zsh > _envman
          tar -czvf envman-darwin-arm64.tar.gz envman envman.bash envman.fish _envman LICENSE README.md
      - name: Upload artifacts
        if: github.event_name != 'release'
        uses: actions/upload-artifact@v4
        with:
          name: envman-binaries
          path: envman-*.tar.gz
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: envman-*.tar.gz
